<!-- /sessions/new.html.erb -->
<div class="row">
  <div class="span4 offset4">
    
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], :class => "input-block-level" %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password, params[:password], :class => "input-block-level" %>
      </div>
      <div class="actions"><%= submit_tag "Log In", :class => "btn btn-primary" %></div>
    <% end %>
    
  </div>
</div>