<!-- new.html.erb -->

<div class="row">
  <div class="span4 offset4">
    

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

      <p><small>We will use your name and email to help us verify that your account belongs to a member of Alpha Zeta Eta or a known person.</small></p>

      <div class="field">
        <%= f.label :name, "Full Name:" %>
        <%= f.text_field :name, :class => "input-block-level" %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email, :class => "input-block-level" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, :class => "input-block-level" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation%>
        <%= f.password_field :password_confirmation, :class => "input-block-level" %>
      </div>
      <div class="actions"><%= f.submit nil, :class => "btn btn-primary" %></div>
    <% end %>

  </div>
</div>