<!-- show.html.erb -->

<% if current_user and current_user.id == @user.id %>
<p class="lead">This is your account page. The point of it is mainly to see if you've been verified as a member of the club, which will allow you to change some things on the site. There may be more functionality added to this page in the future.</p>
<% end %>

<h2>Account Information</h2>

<% if current_user and current_user.access_level > 1 %>
<p>Email: <strong><%= @user.email %></strong></p>
<% end %>

<% if @user.access_level > 0 %>
<div class="alert alert-info">
  This account was verified as a/an <strong><%= @user.status %></strong> account by <strong><%= @user.verified_by.name %></strong>.
</div>
<% elsif @user.access_level < 0 %>
<div class="alert alert-error">
  This account has been marked as <strong>Untrusted</strong> by <strong><%= @user.verified_by.name %></strong>. Please <a href="/contact">contact us</a> if this was in error.
</div>
<% else %>
<div class="alert">
  This account has not yet been verified by an officer in Alpha Zeta Eta
</div>
<% end %>

<% if current_user and current_user.id == @user.id %>
<p><%= link_to "Change", edit_user_path(@user), :class => "btn" %></p>
<% end %>



<% if current_user and current_user.access_level >= 3 %>
<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<div class="text-center">
	<p><strong><%= @needs_verification %></strong> account(s) need(s) Verification</p>
	<a href="<%= users_path %>" class="btn btn-primary">View All Users</a>
</div>
<% end %>

