<!-- <div class="row">
  <div class="span4">
    <p class="lead">
      At this stage of development, we don't have a custom interface for interacting with Alpha Zeta Eta's event calendar. Until that's finished, here is a link to the Google Calendar page:
      
    </p>
    <p><a href="https://www.google.com/calendar/embed?src=apo.uaa%40gmail.com&amp;ctz=America%2FAnchorage" class="btn btn-primary btn-large">
      <i class="icon-calendar icon-white"></i>
      Event Calendar
    </a></p>
  </div>

  <div class="span7 offset1">
    <p class="muted">We also have a special event coming up:</p>

    <h2>2013 Sectional Conference</h2>
    <p>Get ready for the 2013 APO Section 8 conference our chapter is hosting in Anchorage, Alaska!</p>
    <ul>
      <li><a href="/conference#registration">Registration</a></li>
      <li><a href="/conference#activities">Activities</a></li>
      <li><a href="/conference#pricing">Pricing</a></li>
    </ul>
    <p><a class="btn" href="/conference">View details &raquo;</a></p>
  </div>
</div> -->

<!-- <span style="font-size:4em; font-weight:bold; line-height:normal;">MAR</span> -->

<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<div class="row">
  <div class="span4">
    <a href="/" class="btn">Previous</a>
  </div>
  <div class="span4 text-center">
    <%= link_to "Create New Event", new_event_path, :class => "btn btn-primary" %>
  </div>
  <div class="span4 text-right">
    <a href="/" class="btn">Next</a>
  </div>
</div>

<% 
  # this seems like a sucky way to do this, so changes that simplify are welcome

  for i in 0...@events.length
    event = @events[i]
    # we need access to the event before and after the current one in each
    # step, so I'm doing iteration by index here. A better way to access them
    # and their dates in the different forms needed would make the code a lot 
    # cleaner

    event_start = DateTime.parse(event.start)
    event_end = DateTime.parse(event.end)
    year = event_start.strftime('%Y')
    month = event_start.strftime('%^b')
    day = event_start.strftime('%d')
    weekday = event_start.strftime('%^a')

    if event_end.strftime('%l:%M%P') == '12:00am'
      event_end = event_end.advance(:seconds => -1)
    end

    prev_event = @events[i-1]
    prev_event_start = DateTime.parse(prev_event.start)
    prev_year = prev_event_start.strftime('%Y')
    prev_month = prev_event_start.strftime('%Y%^b')
    prev_day = prev_event_start.strftime('%Y%^b%d')

    next_event = @events[i+1]
    if next_event != nil
      next_event_start = DateTime.parse(next_event.start)
      next_year = next_event_start.strftime('%Y')
      next_month = next_event_start.strftime('%Y%^b')
      next_day = next_event_start.strftime('%Y%^b%d')
    end

    if event_start.strftime('%M') == '00'
      start_clock = event_start.strftime('%l%P')
    else
      start_clock = event_start.strftime('%l:%M%P')
    end

    if event_end.strftime('%M') == '00'
      end_clock = event_end.strftime('%l%P')
    else
      end_clock = event_end.strftime('%l:%M%P')
    end

    start_day = end_day = ''
    if event_end > event_start.advance(:days => 1)
      if event_end < event_start.advance(:days => 7)
        start_day = event_start.strftime('%a ')
        end_day = event_end.strftime('%a ')
      else
        start_day = event_start.strftime('%m/%d ')
        end_day = event_end.strftime('%m/%d ')
      end
    end

    if !(start_clock == '12am' && end_clock == '11:59pm')
      time = start_day + start_clock + ' - ' + end_day + end_clock
    elsif start_day != end_day
      time = start_day + ' - ' + end_day
    else
      time = 'All day'
    end


    # duration = end_clock - start_clock
%>

<% if prev_year != year || prev_event_start > event_start %>

<!-- Begin Year -->
<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<div class="row">
  <div class="span4 offset4 column-label">
    <small>Event:</small>
  </div>
  <div class="span2 column-label">
    <small>Time:</small>
  </div>
  <div class="span2 column-label">
    <small>Place:</small>
  </div>
</div>

<div class="row">
  <div class="span1 year">
    <h2><%= year %></h2>
  </div>
  <div class="span11">
<% end %>

    <% if prev_month != year+month %>

    <!-- Begin Month -->
    <% if prev_year == year %>
    <ul class="nav nav-list">
      <li class="divider"></li>
    </ul><br>

    <div class="row">
      <div class="span4 offset3 column-label">
        <small>Event:</small>
      </div>
      <div class="span2 column-label">
        <small>Time:</small>
      </div>
      <div class="span2 column-label">
        <small>Place:</small>
      </div>
    </div>

    <% end %>

    <div class="row">
      <div class="span1 month">
        <h3><%= month %></h3>
      </div>
      <div class="span10">
    <% end %>

        <% if prev_day != year+month+day %>
        <!-- Begin Day -->
        <div class="row">
          <div class="span1 date">
            <h4>
              <%= day %> <div class="day-of-week"><%= weekday %></div>
              <% if event_end > event_start.advance(:days => 1) %>
              <div class="end-date">
                <small>to</small>
                <%= event_end.strftime('%d') %> 
                <div class="day-of-week"><%= event_end.strftime('%^a') %></div>
              </div>
              <% end %>
            </h4>
          </div>
          <div class="span8 offset1 events">
        <% end %>

            <!-- Begin Event -->
            <a href="<%= event_path(event) %>">
              <div class="row">
                <div class="span4 title">
                  <h5><%= event.name %></h5>
                </div>
                <div class="span2">
                  <div class="data">
                    <!-- <small>Time:</small> -->
                    <%= time %>
                  </div>
                </div>
                <div class="span2">
                  <div class="data">
                    <!-- <small>Location:</small> -->
                    <%= event.location %>
                  </div>
                </div>
              </div>
              <% if event.summary != nil %>
              <div class="summary">
                <%= event.summary %>
              </div>
              <% end %>
            </a>
            <!-- End Event -->

        <% if next_event.nil? || next_day != year+month+day %>
          </div>
        </div>
        <!-- End Day -->
        <% end %>

    <% if next_event.nil? || next_month != year+month %>
      </div>
    </div>
    <!-- End Month -->
    <% end %>

<% if next_event.nil? || next_year != year %>
  </div>
</div>
<!-- End Year -->
<% end %>

<!-- <%= event_start.advance(:days => 1) %> -->

<!-- <%= event_end %> -->

<% end %> 

<% if @events.length < 1 %>
<div class="lead text-center">
  There are no events to display
</div>
<% end %>
