<div class="row">
  <div class="span4">
    <p class="lead">
      At this stage of development, we don't have a custom interface for interacting with Alpha Zeta Eta's event calendar. Until that's finished, here is a link to the Google Calendar page:
      
    </p>
    <p><a href="https://www.google.com/calendar/embed?src=apo.uaa%40gmail.com&amp;ctz=America%2FAnchorage" class="btn btn-primary btn-large">
      <i class="icon-calendar icon-white"></i>
      Event Calendar
    </a></p>
  </div>

  <div class="span7 offset1">
    <p class="muted">We also have a special event coming up:</p>

    <h2>2013 Sectional Conference</h2>
    <p>Get ready for the 2013 APO Section 8 conference our chapter is hosting in Anchorage, Alaska!</p>
    <ul>
      <li><a href="/conference#registration">Registration</a></li>
      <li><a href="/conference#activities">Activities</a></li>
      <li><a href="/conference#pricing">Pricing</a></li>
    </ul>
    <p><a class="btn" href="/conference">View details &raquo;</a></p>
  </div>
</div>

<!-- <span style="font-size:7em; font-weight:bold; line-height:normal; letter-spacing: .25em">8888</span> -->
<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<%= @events %><br>


<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<%= link_to "Create New Event", new_event_path %><br>

<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<% 
  # this seems like a sucky way to do this, so changes that simplify are welcome

  # while i < @events.length do
  for i in 0...@events.length
    event = @events[i]

    event_start = DateTime.parse(event.start)
    event_end = DateTime.parse(event.end)
    year = event_start.strftime('%Y')
    month = event_start.strftime('%^b')
    day = event_start.strftime('%d')
    weekday = event_start.strftime('%^a')

    prev_event = @events[i-1]
    prev_event_start = DateTime.parse(prev_event.start)
    prev_year = prev_event_start.strftime('%Y')
    prev_month = prev_event_start.strftime('%Y%^b')
    prev_day = prev_event_start.strftime('%Y%^b%d')

    next_event = @events[i+1]
    if next_event != nil
      next_event_start = DateTime.parse(next_event.start)
      next_year = next_event_start.strftime('%Y')
      next_month = next_event_start.strftime('%Y%^b')
      next_day = next_event_start.strftime('%Y%^b%d')
    end

    if event_start.strftime('%M') == '00'
      start_clock = event_start.strftime('%l %p')
    else
      start_clock = event_start.strftime('%l:%M %p')
    end

    if event_end.strftime('%M') == '00'
      end_clock = event_end.strftime('%l %p')
    else
      end_clock = event_end.strftime('%l:%M %p')
    end
    # duration = end_clock - start_clock
%>

<% if prev_year != year || prev_event_start > event_start %>
<!-- Begin Year -->
<div class="row">
  <div class="span1 year">
    <h2><%= year %></h2>
  </div>
  <div class="span11">
<% end %>

    <% if prev_month != year+month %>
    <!-- Begin Month -->
    <div class="row">
      <div class="span1 month">
        <h3><%= month %></h3>
      </div>
      <div class="span10">
    <% end %>

        <% if prev_day != year+month+day %>
        <!-- Begin Day -->
        <div class="row">
          <div class="span1 date">
            <h4>
              <%= day %> <div class="day-of-week"><%= weekday %></div>
              <% if event_end > event_start.advance(:days => 1) %>
              <div class="end-date">
                <small>to</small>
                <%= event_end.strftime('%d') %> 
                <div class="day-of-week"><%= event_end.strftime('%^a') %></div>
              </div>
              <% end %>
            </h4>
          </div>
          <div class="span8 offset1 events">
        <% end %>

            <!-- Begin Event -->
            <a href="<%= event_path(event) %>">
              <h5><%= event.name %></h5>
              <div class="row">
                <div class="span2">
                  <p>
                    <%= start_clock %> - <%= end_clock %><br>
                    <%= event.location %><br>
                    <%= event.status %>
                  </p>
                </div>
                <div class="span6">
                  <p><%= event.summary %></p>
                </div>
              </div>
            </a>
            <!-- End Event -->

        <% if next_event.nil? || next_day != year+month+day %>
          </div>
        </div>
        <!-- End Day -->
        <% end %>

    <% if next_event.nil? || next_month != year+month %>
      </div>
    </div>
    <!-- End Month -->
    <% end %>

<% if next_event.nil? || next_year != year %>
  </div>
</div>
<!-- End Year -->
<% end %>

<!-- <%= event_start.advance(:days => 1) %> -->

<!-- <%= event_end %> -->

<% end %> 
