<div class="row">
  <div class="span6 offset3">
    <%= form_for @event do |f| %>
      <%= f.label :title %><%= f.text_field :title, :class => "input-block-level" %>
      <div class="row">
        <div class="span3">
          <%= f.label :start %><input id="event_start" name="event[start]" class="input-block-level" type="datetime-local" />
        </div>
        <div class="span3">
          <%= f.label :end %><input id="event_end" name="event[end]" class="input-block-level" type="datetime-local" />
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.label :location %><%= f.text_field :location, :class => "input-block-level" %>
        </div>
        <div class="span3">
          <%= f.label :status %><%= f.select :status, options_for_select(['Tentative', 'Confirmed', 'Cancelled']) %>
        </div>
      </div>
      <%= f.label :description %><%= f.text_area :description, :size => "5x10", :class => "input-block-level" %>
      <%= f.submit nil, :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>