<h2>Enter new event information:</h2>

<%= form_for @event do |f| %>
  <%= f.label :name %><%= f.text_field :name %><br>
  <%= f.label :start %><%= f.text_field :start %><br>
  <%= f.label :end %><%= f.text_field :end %><br>
  <%= f.label :location %><%= f.text_field :location %><br>
  <%= f.label :status %><%= f.text_field :status %><br>
  <%= f.label :summary %><%= f.text_area :summary, :size => "60x12" %><br>
  <%= submit_tag %>
<% end %>