<div class="row">
	<div class="span3">
		<p><strong>Start:</strong> <%= @event.start %></p>
		<p><strong>End:</strong> <%= @event.end %></p>
		<p><strong>Location:</strong> <%= @event.location %></p>
		<p><strong>Status:</strong> <%= @event.status %></p>
	</div>
	<div class="span9">
		<p class="lead"><%= @event.summary %></p>
	</div>
</div>