<div class="row">
  <div class="span3">
    <p><strong>Start:</strong> <%= @event.start_date %></p>
    <p><strong>End:</strong> <%= @event.end_date %></p>
    <p><strong>Location:</strong> <%= @event.location %></p>
    <p><strong>Status:</strong> <%= @event.status %></p>
    <p><strong>Creator:</strong> <%= if @event.user != nil then link_to @event.user.name, user_path(@event.user) else "" end %>
  </div>
  <div class="span9">
    <p class="lead"><%= @event.description %></p>
  </div>
</div>

<% if current_user and (current_user.access_level > 2 or current_user.access_level == 2 and @event.user == current_user) %>
<br><ul class="nav nav-list">
  <li class="divider"></li>
</ul><br>

<div class="row">
  <div class="span2 offset4 text-center">
    <%= link_to raw('<i class="icon-edit icon-white"></i> Edit Event'), edit_event_path(@event), :class => "btn btn-primary" %>
  </div>
  <div class="span2 text-center">
    <%= link_to raw('<i class="icon-trash icon-white"></i> Delete Event'), event_path(@event), :class => "btn btn-danger", :confirm => 'Are you sure you want to destroy this event?', :method => :delete %>
  </div>
</div>
<% end %>